<h1>GeekTwitter</h1>

<!-- ログアウトボタン -->
<% if user_signed_in? %>
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% end %>

<!-- 診断機能リンク -->
<%= link_to "診断機能", new_post_path %>

<!-- 新規Tweet -->
<%= link_to "新規投稿へ", new_tweet_path %>
<%= link_to "いいねランキングへ", likes_path %>
<%= stylesheet_link_tag 'index', media: "all" %>

<h3>Tweet一覧</h3>

<div class="tweets-container">
    <% @tweets.each do |t| %>
    <div class="tweet">

        <!-- ユーザー表示 -->
        <p><%= t.user.email %></p>

        <!-- 画像 -->
        <% if t.image.attached? %>
            <%= image_tag t.image, size: '250x200' %>
        <% end %>

        <!-- 本文 -->
        <div class="main-box">
            <div class="left-container">
            <%= t.body %>
            </div>

            <div class="right-container">
            <%= link_to "詳細", tweet_path(t.id) %>
            <%= link_to "編集", edit_tweet_path(t.id) %>
            <%= button_to "削除", tweet_path(t.id), method: :delete %>
            </div>
        </div>

        <!-- いいね機能 -->
        <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id),
                            data: { turbo_method: :delete } do %>
                <p>いいねを取り消す</p> <%= t.likes.count %>
            <% end %>
            <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id),
                            data: { turbo_method: :post } do %>
                <p>いいね</p> <%= t.likes.count %>
            <% end %>
            <% end %>
        <% else %>
            <p>いいねの数 = <%= t.likes.count %></p>
        <% end %>

        <!-- 投稿時間 -->
        <p class="time"><%= t.created_at %></p>

        </div>
    <% end %>
</div>
