<header class="l-header">
    <div class="l-header__inner">


        <!-- 右：ナビ（TOEIC公式風） -->
        <nav class="l-navigation" aria-label="グローバルナビ">
        <ul class="l-navigation__list">

            <!-- みんなのコメント -->
            <li class="l-navigation__item">
            <%= link_to "みんなの教材・コメントへ",
                    hello_show_path,
                    class: "l-navigation__link" %>
            </li>

            <!-- おすすめ教材 -->
            <li class="l-navigation__item">
            <%= link_to "おすすめ教材TOP3へ",
                    hello_link_path,
                    class: "l-navigation__link" %>
            </li>

            <!-- TOEIC公式 -->
            <li class="l-navigation__item">
            <%= link_to "TOEIC申し込みページへ",
                    "https://www.iibc-global.org/toeic/test/lr/guide01/schedule.html",
                    target: "_blank",
                    rel: "noopener",
                    class: "l-navigation__link" %>
            </li>

            <li class="l-navigation__item">
            <%= link_to "TOEIC得点予想診断へ",
                    "https://santa.alc.co.jp/",
                    target: "_blank",
                    rel: "noopener",
                    class: "l-navigation__link" %>
            </li>

            <% if user_signed_in? %>
                <!-- ユーザー表示 -->
                <li class="l-navigation__item">
                    <span class="l-navigation__text">
                    <%= current_user.email %>
                    </span>
                </li>


                <% end %>

        </ul>
        </nav>

    </div>
    </header>



<%= render "tweets/tweets_list" %>

    

    <!-- 診断機能リンク -->
    <%= link_to "診断機能", new_post_path, class: "menu-label" %>

    <!-- 新規Tweet -->
    <%= link_to "新規投稿へ", new_tweet_path, class: "menu-label" %>