<%= stylesheet_link_tag 'new', media: "all" %>

<div class="post-container">
    <div class="post-card">
        <h2 class="post-title">投稿フォーム</h2>

        <%= form_for @tweet, html: { multipart: true } do |f| %>

        <div class="form-group">
            <%= f.label :body, "投稿内容" %>
            <%= f.text_field :body, class: "form-input" %>
        </div>

        <div class="form-group">
            <%= f.label :image, "画像" %>
            <%= f.file_field :image, class: "form-file" %>
        </div>

        <%= f.submit "送信", class: "submit-btn" %>

        <% end %>

        <div class="back-link">
        <%= link_to "Tweet一覧に戻る", tweets_path %>
        </div>
    </div>
</div>
