<%= stylesheet_link_tag 'new', media: "all" %>

<div class="post-container">
    <p class="title">投稿フォーム</p>

    <%= form_for @tweet do |f| %>
    
    <%= f.label :body, "投稿内容" %><br>
    <%= f.text_field :body, size: 140 %><br>

    <!-- ★ 画像投稿欄（必須！） -->
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :image %><br>

    <%= f.submit "送信" %><br>

    <% end %>

    <%= link_to "Tweet一覧に戻る", tweets_path %>

</div>

<%# おすすめの理由 %>
<%= form_with model: @tweet do |f| %>

    <%# おすすめの理由 %>
    <div class="field">
        <%= f.label :reason, "おすすめの理由" %>
        <%= f.text_area :reason %>
    </div>

    <%# Amazonへのリンク %>
    <%= f.label :amazon_url, "Amazonへのリンク" %>
    <%= f.text_field :amazon_url %>

    <%= f.submit "投稿する" %>

<% end %>

