<div class="container diagnosis-result">
    <div class="result-hero">
    <h1 class="result-title">あなたへのTOEICおすすめ教材はこちら</h1>
    <p class="result-lead">診断結果<%= params[:code] %>に基づき、あなたに最適な教材が選ばれました！</p>
    <p class="result-note">順位が上の物からのご使用をおすすめします！</p>
    </div>

    <hr class="result-divider">
    <div class="row">
        <% @diagnosis_results.each_with_index do |post, index| %>
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
            <div class="card-body">

                <h2 class="card-title text-primary">
                <%= index + 1 %>冊目のおすすめ
                </h2>
                <hr>

                <h3 class="card-subtitle mb-2"><%= post.title %></h3>

                <div class="book-info mt-3 d-flex">
                <div class="book-content ms-3">
                    <div class="image">
                    <%= cl_image_tag(post.image_id, crop: :scale) %>
                    </div>
                    <p class="text-muted"><%= post.content %></p>
                    <%# おすすめの理由 %>
                    <%# Amazonへのリンク %>
                    <div class="amazon-link-btn">
                    <p><%= link_to 'Amazonで購入する', post.amazon_url, target: '_blank', rel: 'noopener noreferrer' %></p>
                    </div>
                </div>
                </div>

            </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
