<%= form_tag(posts_path, method: :get) do %>
    <h3>Q.1 現在のTOEIC(や英検、TOEFL ibt、IELTS、英語偏差値)の点数は何点ですか？</h3>
        <label>
            <%= radio_button_tag :age, "1" %> ～６００（２級、６１、５．０、偏５０）
        </label>
        <label>
            <%= radio_button_tag :age, "2" %> ～７００（２級、７５、５．５、偏５６）
        </label>
        <label>
            <%= radio_button_tag :age, "3" %> ～７９５（２級～準１級程度、８７、６．０、偏６２）
        </label>
        <label>
            <%= radio_button_tag :age, "4" %> ～８９５（準１級程度～、１００、６．５、偏６８）
        </label>

    <h3>Q.2 次のTOEICの目標点数は何点ですか？</h3>
        <label>
            <%= radio_button_tag :sex, "1" %> ６００～７００
        </label>
        <label>
            <%= radio_button_tag :sex, "2" %> ７００～８００
        </label>
        <label>
            <%= radio_button_tag :sex, "3" %> ８００～８９５
        </label>
        <label>
            <%= radio_button_tag :sex, "4" %> ９００～
        </label>

    <h3>Q.3 TOEICを受けたことはありますか？ </h3>
        <label>
            <%= radio_button_tag :glasses, "1" %> ある
        </label>
        <label>
            <%= radio_button_tag :glasses, "2" %> ない
        </label>
    
    <h3>Q.4 TOEICの試験日はいつですか？ </h3>
        <label>
            <%= radio_button_tag :date, "1" %> １か月未満
        </label>
        <label>
            <%= radio_button_tag :date, "2" %> １か月以上先
        </label>

    <br>
    <%= submit_tag "診断する" %>
<% end %>
